@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

.header{
    width: 100%;
    /*height: 60px;*/
    /*background: darkgoldenrod;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 2;
    top: 0;
    /*background: var(--color-primario);*/
}
.header_logo{
    /*background: red;*/
    display: flex;
    align-items: center;
    gap: 10px;

}
.logo_icono img{
    width: 2em;
    margin-left: 10px;
}
.logo_titulo{
    /*background: orange;*/
    color: var(--color-ternario);
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}
.header_menu img{
    width: 2em;
    margin: 10px 15px  ;
}

.footer{
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
    z-index: 10;
}
.footer ul{
    padding: 0.5em;
    display: flex;
    justify-content: space-around;
}
.footer ul li{
    list-style: none;
    margin: .5em 0;
}
.footer ul li a img{
    width: 2em;
}

.balance{
    /*background: red;*/
    width: 100%;
    height: 32vh;
    position: absolute;
    overflow: hidden;
}

.balance__circle{
    background: var(--color-sexto);
    width: 110%;
    height: 53vh;
    border-radius: 100%;
    position: absolute;
    top: -460px;
    left: -20px;
    right: 0;
    margin: 0 auto;
    scale: 2;
}

.balance__total{
    background: var(--color-secundario);
    width: 195px;
    height: 195px;
    position: absolute;
    border-radius: 100%;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: 0 auto;
    text-align: center;
    color: var(--color-ternario);
    font-family: "SF-Pro_text_Bold";
    text-transform: capitalize;
    font-size: 20px;
}

.balance__total div{
    /*background: red;*/
    margin-top: 50px;
    

}

.report{
    width: 100%;
    position: relative;
    /*background: red;*/
    top: 230px;
    padding: 25px .8em;

}

.report__accounting{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.report__accounting button{
    background: var(--color-ternario);
    padding: 5px 15px;
    border-radius: 15px;
    font-family: "SF-Pro-Text-Regular";
    font-size: 1em;
    border: 2px solid var(--color-cuarto);
    text-transform: capitalize;
    color: var(--color-cuarto);
}

.report__accounting button:first-child{
    background: var(--color-primario);
    color: var(--color-ternario);
}

.report__accounting button:nth-child(2){
    background: var(--color-ternario);
    color: var(--color-secundario);
    border-color: var(--color-secundario);
}

.report__accounting button:last-child{
    background: var(--color-ternario);
}

.report__week img{
    /*background: red;*/
    width: 100%;
    height: 25vh;
    object-fit: contain;
    margin: 20px 0;
}

.process{
    background: var(--color-quinto);
    margin-bottom: 0px;
    margin-top: 53%;
    width: 100%;
    height: 180px;
}

.spending__img img{
    width: 25%;
    margin-left: 20px;
    position: absolute;
    margin: 30px 30px;
}

.spending__text img{
    width: 10%;
    margin-top: 3px;
    right: 3px;
    position: absolute;
}

.spending__text {
    /*background: blue;*/
    position: absolute;
    width: 260px;
    height: 148px;
    right: 0;
    padding: 10px;
}

.spending__text h3{
    /*background: green;*/
    margin-top: 15%;
    font-family: "SF-Pro-Text-Bold";
    font-size: 20px;
}

.spending__text p{
    /*background: violet;*/
    font-family: "SF-Pro-Text-Light";
    font-size: 14px;
}