<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <div class="logo_icono">
                <img src="../storage/img/Frame 2.png" alt="">
            </div>
            <div class="logo_titulo">inveto</div>
        </div>
        <div class="header_menu">
            <img src="../storage/img/menu.png" alt="">
        </div>
    </header>
    <main class="main">
        <section class="balance">
            <article class="balance__circle">
                
            </article>
            <article class="balance__total">
                <div>
                    <h3>total</h3>
                    <h5>balance</h5>
                    <h2><sub>$</sub>241,417</h2>
                </div>
            </article>
        </section>
        <section class="report">
            <article class="report__accounting">
                <button>assets</button>
                <button>debt</button>
                <button>income</button>
            </article>
            <article class="report__week">
                <img src="../storage/img/report.svg" alt="">
            </article>
        </section>
        <section class="process">
            <article>
                <div class="spending__text">
                    <img src="../storage/img/Frame 20.png" alt="">
                    <h3>spending.</h3>
                    <p>You forgot to add wallet ID at payment #1323. Add it now.</p>
                    
                </div>
                <div class="spending__img">
                    <img src="../storage/img/bitcoin-btc-logo.png" alt="">
                </div>
            </article>
        </section>

    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon1.png"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/icon2.png"></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/icon3.png"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon4.png"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon5.png"></a>
            </li>
        </ul>
    </footer>
</body>

</html>