<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cards.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header_logo">
            <div class="logo_icono">
                <img src="../storage/img/Frame 2.png" alt="">
            </div>
            <div class="logo_titulo">inveto</div>
        </div>
        <div class="header_menu">
            <img src="../storage/img/menu.png" alt="">
        </div>
    </header>

    <main class="main">
        <h3 class="main__title">investing tips</h3>
        <section class="main__banner">
            <div class="banner__public">
                <div class="public__logo">
                    <img src="../storage/img/Group.png" alt="">
                </div>
                <div class="public__description">
                    <button class="description__close">
                        <img src="../storage/img/Frame 20.png" alt="">
                    </button>
                    <p>what is Crypto?</p>
                    <small>By James B, PHD</small>
                    <button>learn more</button>
                </div>
            </div>
        </section>
        <h3 class="main__title2">my Wallets (4)</h3>
        <section class="main__cards">
            <article class="cards__item">
                <small>*** 6175</small>
                <h2>1.60 BTC</h2>
                <img src="../storage/img/bitcoin-btc-logo.png">
            </article>
            <article class="cards__item">
                <small>*** 2101</small>
                <h2>3.27 ETH</h2>
                <img src="../storage/img/ethereum-eth-logo.png">
            </article>
            <article class="cards__item">
                <small>*** 9042</small>
                <h2>47.9 DOGE</h2>
                <img src="../storage/img/dogecoin-doge-logo.png">
            </article>
        </section>
    </main>

    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/icon1.png"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/icon2.png"></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/icon3.png"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon4.png"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/icon5.png"></a>
            </li>
        </ul>
    </footer>
</body>
</html>